.register {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.register .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.457);
    width: 895px;
    height: 583px;
}